@font-face {
    font-family: "Cursed Timer ULiL";
    src: url(./Users/annie/Desktop/scrimba/Solo - Bball Score) format("truetype");
}


body {
    background-color: #1B244A ;
}

.columns {

   display: flex;
   justify-content: space-evenly;

}

.button-wrapper {

    display: flex;
    place-content: column;
    gap: 5px;
}

.board-title {

font-family: 'Verdana';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 10px;

color: #EEEEEE;
}

.points-el {

    font-family: "Cursed Timer Ulil", sans-serif;
    font-weight: 700;
    font-size: 90px;
    line-height: 10px;
    
    color:#F94F6D;

    width: 155px;
    height: 120px;
    left: 337px;
    top: 125px;
    align-content: center;
    text-align: center;

    
    background: #080001;
    border-radius: 5px;

}

.btns {

font-family: "Cursed Timer Ulil", sans-serif;
width: 45px;
height: 45px;
top: 271px;
left: 82px;
gap: 0px;
border-radius: 5px 5px 5px 5px;
opacity: 0px;
background-color: #1B244A;
border: 2px solid #9AABD8

}

.btns {
font-size: large;
color: #9AABD8;
}

.reset {
    
font-family: "Cursed Timer Ulil", sans-serif;
font-weight: 90;
font-size: 15px;
width: 100px;
height: 45px;
top: 10px;
left: 82px;
gap: 20px;
border-radius: 0px 0px 0px 0px;
opacity: 0px;
background-color: #F94F6D;
border: 2px solid #080001

}
